/*__________________________________________TETE DU SITE_____________________________________________________________________*/
body {
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
/*header*/
header
{
    
    padding: 0 30px;
    margin: 20px 0 40px 0;
}
#tete
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    }
#logo{
    width:auto;
    margin: 0px;
}
/*Liens ancre*/
ul{
    display: flex;
}
li
{   list-style-type: none;
    padding-right: 50px;
}
}
#menu
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 110px; 
   
}
#menu1{
    border-top:solid 2px #0065FC;
    padding-top: 33px;
    color: #0065FC;
}
#menu
{
    color: black; 
}
#menu3{
    color: #0065FC;
    font-weight: bold;
}
*/
/*_______________________________________________CORP DU SITE________________________________________________________________*/

h3, h2 {
    font-size: 14px;
}


section#introduction {
    padding: 0 30px;
}
#introduction
{   display: flex;
    flex-direction: column;
    margin: 20px 0 40px 0;
}
/* icon map*/
#map i   {
    padding:16px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    margin-right: 0px;
    border: solid 2px #F2F2F2;
}

/*boutom Marseille*/
#bouton-recherche input {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border: solid 2px #F2F2F2;
    padding: 15px 5px;
}

#recherche
/* boutom blue*/
{
    min-width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    width: 10px;
    padding: 15px 25px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border:solid 2px #0065FC; ;
    font-size: 14px;
    font-weight: bold;
}

#recherche:hover 
{
    background-color: white;
    color: #0065FC;
    border: solid 2px;
}

#recherche-mini
{
    display: none;
}
#filtres p {
    padding-right: 25px;
    margin : 0;
    font-weight: bold;
}

#filtres{
    margin: 15px 0 35px 0;
    display: flex;
    align-items: center;
    margin-left: 35px;
}

#categories-filtres {
    display: flex;
}

.filtre {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 0px 25px 0 0;
    padding: 2px 0 0 0;
    position: relative;
    z-index: 1;
}

.filtre:hover {
    background-color: #0065FC;
    color: #ffffff;
}

#filtres .filtre .cercle {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    background-color: #DEEBFF;
    position: absolute;
    margin: -2px 0 0 -2px;
    z-index: 2;
    text-align: center;
}

#filtres .filtre .cercle i {

    font-size: 1.5em;
    margin-top: 23%;
    color: #0065FC;

}
#filtres .filtre a {

    padding: 0 25px 0 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}
#info-icon {
    border-radius: 30px;
    border: solid 1px #F2F2F2;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    color: #0065FC;
    align-items: center;

}
#infos {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
/*________________________________Aside________________________________________*/

.titre {
    font-weight: bold;
    margin: 5%;
    padding: 0;
}

.description {
    margin: 5%;
}


.etoiles {
    padding: 5px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.prix {
    font-size: 17px;
    font-weight: bold;
    width: 50%;
    height: 450px;
}

section,
aside {
    position: relative;
}

#pop-icone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 7.5% 0 7.5%;
    
}

#lespluspopulaire {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 50%;
    margin: 20px;
}

#lespluspopulaire1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#lespluspopulaire1 a {
    padding:10px;
}

.chambre img {
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    float: left;
    padding-right: 10px;

}

.hotelsoleil {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    overflow: hidden;
}

.chambredhote {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.hotelblue {
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
}


/*______________________________Article___________________________________________________________*/
#section-hebergements {
    display: flex;
}

#conteneur-hebergements {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 100%;
    margin: 20px;
}

#conteneur-hebergements h2 {
    margin: 45px 5% 0 5%;
}

#content-hebergements1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 5%;

}

#content-hebergements1 a {
    width: 30%;
    margin-bottom: 25px;
    padding: 5px;
}

.cannebiere {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

img#cannebiere2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.hotelduport {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0, 0, 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

img#hotelduport2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.lesmouettes {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

img#lesmouettes2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.hotellamer {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

img#hotellamer2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.lepanier {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

img#lepanier2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.chezamina {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

img#chezamina2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.plusdinfo {
    font-weight: bold;
    display: block;
    margin: 0 5%;
}

/*____________________________________Section_________________________________________________________*/

#section-activites{
    margin: 30px;
}
#section-activites h2
{
   padding: 20px;
}

#conteneur-activites1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.activite1 {
    width: 22%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    margin: 0;
    padding: 0;
}

.crop-loisirs1 {
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
}

.crop-loisirs1 img {
    height: 100%;
}

.activite2 {
    width: 22%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}

.crop-loisirs2 {
    height: 180px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
}

.crop-loisirs3 {
    height: 110px;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.pomegues {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    margin-bottom: 65px;

}

img#pomegues2 {
    width: 100%;
}

.friouil {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    margin-bottom: 65px;
    overflow: hidden;

}

img#friouil2 {
    width: 100%;
    transform: translate(0%, -50%);
    top: 75%;
    position: relative;
}

img#notredame2 {
    width: 100%;
    transform: translate(0%, -50%);
    top: 75%;
    position: relative;
}

img#longchamp2 {
    width: 100%;
}

/*________________________________________________________PIED DE SITE______________________________________________*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;

}
.propos {
    width: 100%;
    height: 200px;
    margin-right: 2px;
    justify-content: space-around;
    padding: 0 50px;
}
@media all and (max-width: 1024px) {
    #filtres {
        margin: 15px 0 35px 0;
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        align-items: start;
    }

    #categories-filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre {
        margin-top: 15px;
    }

    #section-hebergements {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    #lespluspopulaire,
    #conteneur-hebergements {
        width: 100%;
        background-color: #F2F2F2;
        margin-top: 20px;
        border-radius: 0px;
    }

    #content-hebergements1 a .titre {
        font-size: 13px;
    }

    #lespluspopulaire1 {
        width: 90%;
        margin: 0 5% 45px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    #lespluspopulaire1 a {
        width: 45%;
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin: 30px 0 0 0;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }



    #conteneur-activites1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .activite1 {
        width: 48%;
        height: 445px;
        border-radius: 20px;
        background-color: white;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    .activite2 {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
    }
}
/*
@media all and (max-width: 576px) {

    }
    #menu
    {
     width:auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 15px 0 35px 0;
    }
    #menu1
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        
    }
    #menu2
    {
    border-bottom: 2px solid#b1b1b1;
    }
    
    #menu3 
    #logo
    {
        position:top;
        margin: 15px 0 35px 0;
    }
    #recherche
    {
    display: none;
    }
    
    #recherche-mini
    {
    display: initial;
    }

    #recherche-mini i
    {
        background-color:#0065FC;
        color: white;
        border-radius: 10px;
        margin: 0px;
    }
    #recherche-mini i:hover
    {
        background-color: white;
        border: 2px solid #0065FC;
        color: #0065FC;
        border-radius: 10px;
    }
    
    #filtres {
        margin: 15px 0 35px 0;
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        align-items: start;
    }

    #categories-filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre {
        margin-top: 15px;
    }

    

    #lespluspopulaires
    #conteneur-hebergements {
        width:auto;
        margin-top: 20px;
        border-radius: 0px;
    
    }
    #content-hebergements1
    {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        background-color:none;
    }
    #content-hebergements1 a .titre {
        font-size: 13px;
        
    }

    #lespluspopulaire1 {
        width:auto;
        margin: 0 5% 45px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    #lespluspopulaire1 a {
        width:auto;
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin: 30px 0 0 0;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    

    .activite1 {
        width:auto;
        border-radius: 20px;
        background-color: white;
        padding:0px;
        box-shadow: 0 0 20px #b1b1b1;
        margin: 30px;
    }

    .activite2 {
        width: auto;
        display: flex;
        justify-content: space-between;
        padding:0px;
    }
    
    #propos
    {
        width: auto;
        display: flex;
       justify-content: space-around;
      
     }
    .propos
    {
    padding:0px 30px; 
    margin: 0px;
    }
*/