/*__________________________________________TETE DU SITE_____________________________________________________________________*/
body {
    width: 100%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
/*header*/
header
{
    
    padding: 0 30px;
    margin: 20px 0 40px 0;
}
#tete
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    list-style-type: none;
    }
#logo{
    width:auto;
    margin: 0px;
}
/*Liens ancre*/
ul{
    display: flex;
}
li
{   list-style-type: none;
    padding-right: 50px;
}

#menu
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px; 
    
}
.menu1
{
    border-top:solid 2px #0065FC;
    padding-top: 33px;
    color: #0065FC;
}
.menu2
{
    color: black; 
}
#menu3{
    color: #0065FC;
    font-weight: bold;
    padding: 20px;
}
/*_______________________________________________CORP DU SITE________________________________________________________________*/

h3, h2 {
    font-size: 14px;
}


section#introduction {
    padding: 0 30px;
}
#introduction
{   display: flex;
    flex-direction: column;
    margin: 20px 0 40px 0;
}
/* icon map*/
#map i   {
    padding:16px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    margin-right: 0px;
    border: solid 2px #F2F2F2;
}

/*boutom Marseille*/
#bouton-recherche input {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 14px;
    border: solid 2px #F2F2F2;
    padding: 15px 5px;
    
}

#recherche
/* boutom blue*/
{
    min-width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    width: 10px;
    padding: 15px 25px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border:solid 2px #0065FC; 
    font-size: 14px;
    font-weight: bold;
}

#recherche:hover 
{
    background-color: white;
    color: #0065FC;
    border:solid 2px #0065FC;
}

#recherche-mini
{
    display: none;
}
#filtres p {
    padding-right: 25px;
    margin : 0;
    font-weight: bold;
    color: black;
}

#filtres{
    margin: 15px 0 35px 0;
    display: flex;
    align-items: center;
    margin-left: 35px;
    color: black;
}

#categories-filtres {
    display: flex;
}

.filtre {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 0px 25px 0 0;
    padding: 2px 0 0 0;
    position: relative;
    z-index: 1;
}
#filtres .filtre :hover
{
    color:#DEEBFF;
}
.filtre:hover {
    background-color: #0065FC;
}

#filtres .filtre .cercle:hover
{
   background-color: white; 
   border:solid 2px #0065FC;
}

#filtres .filtre .cercle {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    background-color: #DEEBFF;
    position: absolute;
    margin: -2px 0 0 -2px;
    z-index: 2;
    text-align: center;
}

#filtres .filtre .cercle i {
    font-size: 1.5em;
    margin-top: 23%;
    color: #0065FC;
}
#filtres .filtre a {
    padding: 0 25px 0 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}
#info-icon {
    border-radius: 30px;
    border: solid 1px #F2F2F2;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    color: #0065FC;
    align-items: center;

}
#infos {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
/*________________________________Aside________________________________________*/
h2,
h3
{
    font-size: 18px;
}
.titre {
    font-weight: bold;
    margin:5px;
    padding: 0 0 0 5px;
}

.description {
 margin:5px;
 padding:0 0 0 5px;
}

.etoiles1
{
padding: 30px 0 0 0;
margin: 0 0 0 5px;
}
.etoiles {
margin:8px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}

.prix {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

section,
aside {
    position: relative;
}
#pop-icone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 7.5% 0 7.5%;
}

#lespluspopulaire {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 40%;
    margin: 20px;
}
#lespluspopulaire1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lespluspopulaire1 a {
    padding:10px;
}
.hotelsoleil {
    border-radius: 15px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.crop-chambre, .crop-chambre2{
    border-radius:15px 0 0 15px; 
    height: 140px;
    overflow: hidden;
}
.crop-chambre img,.crop-chambre2 img  {
    height: 100%;
    width: 100%;
    padding-right: px;

}
.crop-chambre2{
    width: 40%;
    height: 130px;
    overflow: hidden;
    border-radius: 15px 0 0 15px;
}
.crop-chambre .crop-chambre2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*______________________________Article___________________________________________________________*/
#section-hebergements {
    display: flex;
}
#content-hebergements1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 5%; 
    }
    #content-hebergements1 a {
        width: 30%;
        margin-bottom: 25px;
        padding: 5px;
    }
 #conteneur-hebergements {
        border-radius: 20px;
        background-color: #F2F2F2;
        width: 100%;
        margin: 20px;
    }   
.populaire-item {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    overflow: hidden; 
}
.crop-hotel{
    height: 115px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.crop-hotel img{
    width: 100%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#conteneur-hebergements h2 {
    margin: 45px 5% 0 5%;
}

.plusdinfo {
    font-weight: bold;
    display: block;
    margin: 0 5%;
}

/*____________________________________Section_________________________________________________________*/

#section-activites{
    margin: 20px;
}
#section-activites h2
{
   padding: 20px;
}

#conteneur-activites1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: auto;
}

.activite1 .titre, .activite2 .titre, .activite4 .titre{ 
    padding: 10px 5px ;
}
.activite1 {
    width: 22%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    
}
.crop-loisirs1 img {
    height: 100%;
    width: 100%;
}
.activite1 img{
 position: relative;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.crop-loisirs1{
    width: 100%;
    height: 380px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}

.activite2 , .activite4 {
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}
 .activite2 img{
    position: relative;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.activite2 a, .activite4 a{
    width: 100%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    margin-bottom: 15px;
}

.crop-loisirs2 {
    height: 190px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.crop-loisirs3 {
    height: 126px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.activite4
{
    width: 22%;
    
}
 .activite4 img
 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
.crop-loisirs4 {
    height: 158px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

/*________________________________________________________PIED DE SITE______________________________________________*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;

}
footer{
    padding-bottom : 20px;
}
.propos {
    width: 100%;
    height: 200px;
    margin-right: 2px;
    justify-content: space-around;
    padding: 0 50px;
}
/*________________________________________________________Taille tablette______________________________________________*/
@media all and (max-width: 1024px)
{

     #filtres 
    {
        margin: 15px 0 35px 0;
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        align-items: start;
    }

    #categories-filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre {
        margin-top: 15px;
    }

    #section-hebergements {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    #lespluspopulaire,
    #conteneur-hebergements {
        width:100%;
        background-color: #F2F2F2;
        margin-top: 20px;
        border-radius: 0px;
    }

    #content-hebergements1 a .titre {
        font-size: 13px;
    }
    .etoiles1
    {
    padding: 10px 0 0 0;

    }
    #lespluspopulaire1 {
        width:90%;
        height: auto;
        margin: 0 5% 45px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    #lespluspopulaire1 a {
        width:45%;
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin: 30px 0 0 0;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    #conteneur-activites1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .activite1 {
        width: 46%;
        height:190px; 
        border-radius: 20px;
        background-color: white;
        padding: O;
        box-shadow: 0 0 20px #b1b1b1;
    }

    .activite2, .activite4 {
        width: 46%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
    }
}   

/*________________________________________________________Taille mobile______________________________________________*/
@media all and (max-width: 576px) 
{
    header
    {
    margin: 10px 0 20px 0;
    }
    #menu
    {
    width:auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    }
    .menu1
    {
        border-top: none;  
    }
    .menu01
    {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        color: #0065FC;
    }
    .menu02
    {
    border-bottom: 2px solid #b1b1b1;
    }
    #menu
    {
        margin: 10px 0 20px 0; 
    }
    #logo
    {
    width:auto;
    padding: 10px 0 0 5%;
    }
    #recherche
    {
    display: none;
    }
    #recherche-mini
    {
    display:initial;
    }

    #recherche-mini i
    {
        background-color:#0065FC;
        color: white;
        border-radius: 15px;
        margin: 0px;
    }
    #recherche-mini i:hover
    {
        background-color: white;
        border: 2px solid #0065FC;
        color: #0065FC;
        border-radius: 10px;
    }
    
    .section-hebergements
    {
        width:100%;
    }
    #conteneur-hebergements
    {
        background:none;
        width:100%;
        margin-top: 20px;
        border-radius: 0px;
    }
    #content-hebergements1
    {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width:100%;        
    }
    #content-hebergements1 a {
        width: 90%;
        margin-bottom: 25px;
        padding: 5px;
    }
 
    #content-hebergements1 a .titre {
        font-size: 10px;
    }

    #lespluspopulaire1 {
        width:80%;
        margin: 0 5% 45px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction:row;

    }

    #lespluspopulaire1 a {
        width:100%;
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin: 30px 0 0 0;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    .activite1 {
        width:100%;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 0 20px #b1b1b1;
        padding: 0px;
        margin:  50px 0px;
        
    }
    .crop-loisirs1 img {
        height: 50%;
        width: 100%;
    }
    .activite1 img{
     position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .activite2,  .activite4{
        width: 100%;
        display: flex;
        justify-content: space-between;

    }
        .activite1, .activite2 {
        width:100%;
    }

    .activite1{
        width: 100%;
        border-radius: 20px;
        background-color: white;
        margin-top: 30px;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    .activite2{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }

    .activite2 a{
        width: 100%;
        border-radius: 20px;
        background-color: white;
        margin: 0;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    .activite2 a:last-child{
        margin-top : 100px;
    }
    #propos
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    justify-content: space-around;
    
    }
    .propos
    {
    padding:0px 30px; 
    margin: 0px;
    }
}
