/*__________________________________________TETE DU SITE_____________________________________________________________________*/
body {
    width: 100%;
}
header {
    width: 90%;
    padding: 0 30px;
}

#logo{
    width: 10%;
}

ul{
    list-style-type: none;
    position: absolute;
    top: 20px;
    right: 100px;
    padding-right: 50px;
    justify-content: space-between;
    border: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}
/*Liens ancre*/
li {
    display: inline;
    margin: 15px;

}
#menu1{
    border-top:solid 2px #0065FC;
    padding-top: 33px;
    color: #0065FC;
    margin: 15px;
}

#menu3{
    color: #0065FC;
    font-weight: bold;
    list-style-type: none;
    position: absolute;
    top: 34px;
    right: 40px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
}

/*_______________________________________________CORP DU SITE________________________________________________________________*/

h3, h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Raleway', sans-serif;
}

section#introduction {
    padding: 0 30px;
}
#introduction
{   display: flex;
    flex-direction: column ;
    padding: 0 02%;
    margin: 20px 0 40px 0;
}
/* icon map*/
#map i   {

    padding:16px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    margin-right: 0px;

}

/*boutom Marseille*/
#bouton-recherche input {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border: solid 2px #F2F2F2;
    padding: 14px 5px;
}

#recherche
/* boutom blue*/
{
    min-width: 140px;
    height: 50px;
    text-align: center;
    color: white;
    width: 10px;
    padding: 15px 25px;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

#recherche:hover 
{
    background-color: white;
    color: #0065FC;
    border: solid #0065FC;
}

#recherche-desktop
{
    display: initial;
}

#recherche-phone
{
    display: none;
}
#filtres p {
    padding-right: 25px;
    margin : 0;
    font-weight: bold;
}

#filtres{
    margin: 15px 0 35px 0;
    display: flex;
    align-items: center;
    margin-left: 35px;
}

#categories-filtres {
    display: flex;
}

.filtre {
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    background-color: white;
    margin: 0px 25px 0 0;
    padding: 2px 0 0 0;
    position: relative;
    z-index: 1;
}

.filtre:hover {
    background-color: #0065FC;
    color: #ffffff;
}

#filtres .filtre .cercle {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    background-color: #DEEBFF;
    position: absolute;
    margin: -2px 0 0 -2px;
    z-index: 2;
    text-align: center;
}

#filtres .filtre .cercle i {

    font-size: 1.5em;
    margin-top: 23%;
    color: #0065FC;

}
#filtres .filtre a {

    padding: 0 25px 0 25px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left: 40px;
}

a {
    text-decoration: none;
    color: black;
}
#info-icon {
    border-radius: 30px;
    border: solid 1px #F2F2F2;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    color: #0065FC;
    align-items: center;

}
#infos {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
/*________________________________Aside________________________________________*/
.titre {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 5%;
    padding: 0;
}
.description {
    font-family: 'Raleway', sans-serif;
    margin: 5%;
    padding: 0;

}

#lespluspopulaire1 .etoiles {
    padding: 20px;
}

.blue {
    color: #0065FC;
}
.etoiles{
    margin: 5%;
    padding: 0;   
}
.grey {
    color: #F2F2F2;
}

.prix {
    font-size: 17px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    width: 50%;
    height: 450px;
}
section,
aside {
    position: relative;
}
#pop-icone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 7.5% 0 7.5%;
    font-size: 21px;
}

#lespluspopulaire {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 50%;
    margin: 20px;
}

#lespluspopulaire1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#lespluspopulaire1 a {
    padding: 18px;

}

.chambre img {
    width: 47%;
    border-radius: 10px 0px 0px 10px;
    float: left;
    padding-right: 8px;

}

.hotelsoleil {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
    overflow: hidden;
}

.chambredhote {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.hotelblue {
    overflow: hidden;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 1px;
}
/*______________________________Article___________________________________________________________*/
#conteneur-hebergements h2
{
    display: flex; 
}
#conteneur-hebergements {
    border-radius: 20px;
    background-color: #F2F2F2;
    width: 100%;
    margin: 20px;
}
#conteneur-hebergements h2 {
    margin: 45px 5% 0 5%;
}
#content-hebergements1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px 5%;
}

#content-hebergements1 a {
    width: 30%;
    padding: 5px;
    margin-bottom: 25px
}

.cannebiere {

    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

img#cannebiere2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.hotelduport {

    border-radius: 15px;
    background-color: white;
    box-shadow: 0, 0, 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    
}

img#hotelduport2 {
    width:100%;
    border-radius: 10px 10px 0px 0px;
}

.lesmouettes {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
   
}

img#lesmouettes2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.hotellamer {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

img#hotellamer2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.lepanier {

    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;

}

img#lepanier2 {
    width:100%;
    border-radius: 10px 10px 0px 0px;
}

.chezamina {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;

}

img#chezamina2 {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.plusdinfo {
    font-weight: bold;
    display: block;
    margin: 0 5%;
}

/*____________________________________Section_________________________________________________________*/

#conteneur-activites 
{
    margin: 0 30px 60px 30px;
 }

#conteneur-activites1 {
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
width: 100%;
}

.activite1 
 {
     width: 22%;
     border-radius: 20px;
     background-color: white;
     box-shadow: 0 0 20px #b1b1b1;
     margin: 0;
      padding: 0;
 }
 .crop-loisirs1
 {
     height:400px;
     overflow: hidden;
     margin: 0; 
     padding: 0;
     border-radius:10px 10px 0px 0px; 
}    
.crop-loisirs1 img {
    height: 100%;
}
.activite2 {
 width: 22%;
 margin: 0; 
 padding: 0;
 display: flex;
 flex-wrap: nowrap;
 align-content: space-between;
 flex-direction: column;
 justify-content: space-between;
}
.crop-loisirs2
{
    height: 180px;
    overflow: hidden;
    margin: 0; 
    padding: 0;
    border-radius:10px 10px 0px 0px;
}
.crop-loisirs3
{
    height: 110px;
    margin: 0;
     padding: 0;
    border-radius:10px 10px 0px 0px;
    overflow: hidden;
}
.pomegues
{  
    border-radius:15px;
    background-color:white;
    box-shadow:0 0 20px #b1b1b1;
    margin-bottom:50px; 

}
img#pomegues2
{
width: 100%;  
}

.friouil {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 20px #b1b1b1;
    margin-bottom: 50px;
    overflow: hidden;
}

img#friouil2 {
    width: 100%;
    transform: translate(0%, -50%);
    top: 75%;
    position: relative;

}
img#notredame2 {
    width: 100%;
    transform: translate(0%, -50%);
    top:75%;
    position: relative;

}

img#longchamp2 {
    width: 100%;
    

}
/*________________________________________________________PIED DE SITE______________________________________________*/
footer 
{
    display: flex;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding-top: 50px;
    width: 100%;
    
}#propos

{
    width:30%;
    height:200px;
    margin-right:2px;
}

@media all and (max-width: 1024px) {
    #filtres {
        margin: 15px 0 35px 0;
        display: flex;
        flex-direction: column;
        margin-left: 35px;
        align-items: start;
    }

    #categories-filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre {
        margin-top: 15px;
    }

    #section-hebergements {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
    }

    #lespluspopulaire,
    #conteneur-hebergements {
        width: 100%;
        background-color: #F2F2F2;
        margin-top: 20px;
        border-radius: 0px;
    }

    #content-hebergements1 a .titre {
        font-size: 13px;
    }

    #lespluspopulaire1 {
        width: 90%;
        margin: 0 5% 45px 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    #lespluspopulaire1 a {
        width: 45%;
        display: flex;
        border-radius: 20px;
        background-color: white;
        margin: 30px 0 0 0;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }



    #conteneur-activites1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .activite1 {
        width: 48%;
        height: 445px;
        border-radius: 20px;
        background-color: white;
        padding: 0;
        box-shadow: 0 0 20px #b1b1b1;
    }

    .activite2 {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        flex-direction: column;
        justify-content: space-between;
    }
}
@media all and (max-width: 576px) 